.navbar-brand{
    font-size: xx-large;
    font-weight: 600;
}

.card.mb-4{
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.alert {
    width: -webkit-fill-available;
    height: 100px;
    padding-top: 30px;
    margin-bottom: 60px;
    margin-top: 40px;
}